body {
  font-family: sans-serif;
  margin: 0;
}

@font-face {
  font-family: blackOpsOne-Regular;
  src: url(./assets/blackOpsOne-Regular.ttf);
}

.bangers-font {
  font-family: blackOpsOne-Regular;
}

.text-center {
  text-align: center;
}

.height-100vh {
  height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "nav header header header header header"
    "nav main main main main main";
  grid-gap: 10px;
}
.nav-area {
  grid-area: nav;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2c5364, #203a43, #0f2027);
  background: linear-gradient(to left, #2c5364, #203a43, #0f2027);
  box-shadow: 2px 0px 2px 1px rgba(0, 0, 0, 0.2);
  color: #ccc;
}

.nav-area ul {
  list-style-type: none;
  /* padding: 0; */
}

.nav-area ul a {
  color: #ccc;
  text-decoration: none;
}

.header-area {
  grid-area: header;
}
.main-area {
  grid-area: main;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-space-between {
  justify-content: space-between;
}

.card {
  background-color: aqua;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, 0.3);
  margin: 20px;
  padding: 20px;
  transition: box-shadow 0.5s;
}

.card:hover {
  box-shadow: 6px 6px 2px 1px rgba(255, 234, 0, 0.3);
}
